<h2>{{task.text}}</h2>
<div class = "task-info">
    {{#if task.completed}}
        <p>{{task.text}} was created on {{task.dateCreated}} and is completed</p>
        <form action="/delete" method="POST" class="delete-form">
            <input type="hidden" name="_id" value="{{task._id}}">
            <input type="submit" value="Delete">
        </form>
    {{else}}
        <p>{{task.text}} was created on {{task.dateCreated}} and is not yet completed</p>
        <form action="/done" method="POST" class="done-form">
            <input type="hidden" name="_id" value="{{task._id}}">
            <input type="submit" value="Done!">
        </form>
    {{/if}}
</div>